:root {
    --color-linear: #bd4601;
}

@keyframes loader-border {
    0% {
        border-color: transparent transparent #bd4601 transparent;
    }
    25% {
        border-color: transparent transparent transparent rgb(190, 71, 2);
    }
    50% {
        border-color: rgb(190, 71, 2) transparent transparent transparent;
    }
    100% {
        border-color: transparent rgb(190, 71, 2) transparent transparent
    }
}

@keyframes loader-rotation {
    0% {
        transform: rotate(50deg);
    }
    35% {
        transform: rotate(150deg);
    }
    70% {
        transform: rotate(250deg)
    }
    100% {
        transform: rotate(360deg);
    }
}

h2 {
    text-indent: 20px;
}

.container {
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 1rem;
    padding: 1rem;
    gap: 5px;
}
.container div {
    margin: 5px;
}

.box1 {
    width: 100px;
    height: 100px;
    margin-bottom: 3rem;
    border-radius: 50%;
    border: 5px solid /*black*/;
    border-color: transparent;
    animation-duration: 750ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.box2 {
    width: 100px;
    height: 100px;
    margin-bottom: 3em;
    border-radius: 50px;
    border: 5px solid transparent;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

button {
    width: auto;
    background-color: var(--color-linear);
    color: white;
    padding: .8em;
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
    transform: scale(.98);
}
