<h1 class="bg-primary mb-3 p-5 text-center">{{title}}</h1>

<div class="container">
    <form class="form col-4 " action="/api/members" method="POST">
        <label for="name">Nome:
            <input class="form-control" type="text" name="name">
        </label>
        <label for="email">Email:
            <input class="form-control" type="email" name="email">
        </label>
        <input class="btn btn-primary mx-4 my-2" type="submit" value="Adicionar Membro">
    </form>
</div>
<br>
<hr>

<div class="container flex justify-content-center">
    <ul>
            {{#each members}}
                <li>{{this.name}} - {{this.email}} <a href="/api/members/{{this._id}}/delete"><button class="btn btn-danger p-1 m-2">Apagar</button></a></li>
    
            {{/each}}
    </ul>
</div>